.map-container {
    border: .1rem solid var(--d-green);
    display: flex;
    justify-content: center;
    height: 50rem;
    padding: 1%;
    position: static;
    margin: 1rem;
}

.map {
    display: flex;
    justify-content: center;
    position: relative;
}

.province-marker {
    height: 2rem;
    width: 2rem;
}

.marker-info {
    color: var(--m-green);
    text-align: center;
}

#city-select {
    color: var(--d-green);
    border-radius: 10px;
    height: 1.75rem;
}

fieldset {
    border-radius: 10px;
    margin: 10px 0 10px 0;
    border-color: var(--d-green);
    /* background-color: #ddd; */
    background-color: white;
}

legend {
    background-color: var(--m-green);
    color: whitesmoke;
    padding: 1.5%;
    border-radius: .5em;
    background-image: linear-gradient(var(--o-green), var(--d-green));
    margin-left: 1rem;
}

.number-input {
    width: 3rem;
}