.map-container {
    border: .1rem solid var(--d-green);
    display: flex;
    justify-content: center;
    height: 37rem;
    padding: 1%;
    margin: 1rem;
}

.map {
    display: flex;
    justify-content: center;
    position: static;
}

.province-marker {
    height: 2rem;
    width: 2rem;
}

.marker-info {
    color: var(--m-green);
    text-align: center;
}

#city-select {
    color: var(--d-green);
    border-radius: 1rem;
    height: 1.75rem;
}

fieldset {
    border-radius: 10px;
    margin: 10px 0 10px 0;
}

legend {
    margin-left: 15px;
    color: var(--m-green);
}

.number-input {
    text-align: center;
    width: 3rem;
}