.ul-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.li-items {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}

.li-items li {
    list-style-type: none;
    margin: 1%;
    padding: 1.5%;
    box-shadow: inset -25px 25px 75px var(--l-green);
    border-radius: 10px;
}