.map-container {
    border: .1rem solid green;
    padding: 1rem;
}

.map {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: .5rem;
}

.province-marker {
    height: 2rem;
    width: 2rem;
}