

.alert-wrapper {
    text-align: center;
    position: fixed;
    height: auto;
    bottom: 5%;
    width: 25%;
}

.alert {
    background-color: whitesmoke;
    margin: .1em 25% 0 25%;
    border-radius: 15px;
    padding: 1%;
    animation-name: popfrombottom;
    animation-duration: 1s;
}

.alert header {
    text-align: right;
}

.failure {
    color: red;
    /* box-shadow: 0 0 2px red; */
}

.success {
    color: green;
}

.x {
    border-radius: 100px;
    transition: 0.5s;
    padding: 1.5%;
    font-size: .7em;
    /* box-shadow: 0 0 .5em grey; */
}

.x:hover{
    background-color: lightgrey;
    cursor: pointer;
}

@keyframes popfrombottom{
    0% {bottom: 1%;}
    25% {bottom: 2%;}
    50% {bottom: 3%;}
    75% {bottom: 4%;}
    100% {bottom: 5%;}
}