@import '../index.css';

#reports {
    margin-bottom: 10px;
    outline: none;
}

.report-num {
    width: 5%;
    text-align: center;
    margin: 5px 15px 5px 0;
    outline: none;
}

.report-text, label {
    margin: 5px 15px 5px 5px;
    color: var(--d-green);
    outline: none;
}

#report-layout {
    width: 100%;
    text-align: center;
    border-spacing: 0 1rem;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#report-layout th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: var(--d-green);
}

#report-layout td, #report-layout th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

#report-layout td {
    text-align: center;
}