@import '../index.css';

.nav-tabs-container {
    background-color: var(--o-green);
    height: 2.5rem;
    border-bottom: .5rem solid var(--d-green);
    text-align: center;
    justify-content: center;
}

.nav-tab {
    display: inline-block;
    margin: 0 2rem 0 2rem;
    text-align: center;
    height: 100%;
    transition: 0.5s;
}

.link-container {
    text-align: center;
    padding: 0.5rem;
    height: 100%;
}

.nav-tab a {
    text-decoration: none;
    color: whitesmoke;
    padding: .1rem;
    height: 100%;
    padding: 8px;
    transition: 0.5s;
}

.nav-tab a:hover {
    background-color: var(--d-green);
}
