@import '../index.css';

.nav-tabs-container {
    background-image: linear-gradient(var(--m-green), var(--o-green));
    height: 2.5rem;
    text-align: center;
    justify-content: center;
    display: flex;
}

.nav-tab {
    display: flex;
    text-align: center;
    height: 100%;
    transition: 0.5s;
}

.link-container {
    text-align: center;
    display: flex;
    height: 100%;
    padding: 0 .5em;
    justify-content: center;
}

.nav-tab a {
    text-decoration: none;
    color: whitesmoke;
    height: 100%;
    padding: .6em;
    transition: 0.5s;
}

a.active {
    background-color: var(--l-green);
    /* background-image: radial-gradient(var(--o-green), var(--l-green)); */
}

.nav-tab a:hover {
    background-image: linear-gradient(var(--o-green), var(--m-green));
}
