@import '../../index.css';

#new-item {
    padding: 10px;
    width: 25%;
}

#new-item input {
    margin: 2%;
    border-radius: .5rem;
    padding: .2em;
    outline: none;
    border: 1px solid var(--d-green);
}

select {
    color: var(--d-green);
    border-radius: 10px;
    height: 1.75rem;
}

.qty {
    width: 50%;
}

.fieldset-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
