@import '../../index.css';

#new-item {
    padding: 10px;
}

#new-item input {
    margin-right: 8px;
    border-radius: .5rem;
    padding: 4px;
    outline: none;
    border: 1px solid var(--d-green);
}

select {
    color: var(--d-green);
    border-radius: 1rem;
    height: 1.75rem;
}

.qty {
    width: 50px;
    text-align: center;
}

.fieldset-flex {
    display: flex;
    flex-wrap: wrap;
}
