@import 'index.css';

/* .wrapper {
  text-align: center;
  border-left: 5px solid var(--d-green); 
  border-right: 5px solid var(--d-green); 
} */

.main-head {
  background-color: whitesmoke;
  height: 150px;
  width: 100%;
  text-align: left;
  /* border-bottom: 7px solid var(--d-green);
  border-left: 6px solid var(--m-green);
  border-top: 5px solid var(--l-green); */
}

.company-name {
  padding-left: 2%;
  height: 100%;
}

.logo-container {
  height: 100%;
}

.logo-container img {
  height: 70%;
  padding-top: 1%;
  width: 17%;
}