body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --l-green: #9bc44c;
  --m-green: #165944;
  --d-green: #1f4844;
  --o-green: #319847;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgrey;
}

.wrapper {
  text-align: center;
}

.main-head {
  background-color: whitesmoke;
  height: 150px;
  width: 100%;
  text-align: left;
  border-bottom: 7px solid var(--d-green);
  border-left: 6px solid var(--m-green);
  border-top: 5px solid var(--l-green);
}

.company-name {
  padding-left: 2%;
  height: 100%;
}

.logo-container {
  height: 100%;
}

.logo-container img {
  height: 70%;
  padding-top: 1%;
  width: 17%;
}

.session-form-container {
  padding: 15px;
  margin: 15px 75px;
}

.form-box {
  border: 10px solid var(--l-green);
  margin: 10px 50px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.session-form {
  padding: 25px;
}

.session-form label {
  margin: 5px;
}

.session-form input {
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
}

.session-form input.form-btn {
  color: whitesmoke;
  background: var(--m-green);
  cursor: pointer;
  font-size: 12px;
  padding: 7px;
}

.session-form input.form-btn:hover {
  background: var(--l-green);
  transition: 0.3s;
}

.alert {
  color: red;
}

.dash-container {
  padding: 15px;
  margin: 75px 15px;
}

.dash-header {
  border: 2px solid var(--l-green);
  margin: 10px 40px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.dash-header h3 {
  text-align: left;
  background-color: var(--o-green);
  width: 100%;
  padding-left: 5px;
  font-size: large;
  font-size: 2em;
  color: whitesmoke;
}

.post-container {
  background-color: var(--d-green);
  margin: 10px 40px;
  padding: 5px;
  border-radius: 5px;
}

.post-content {
  background-color: whitesmoke;
  padding: 15px;
  margin: 20px 40px;
  border-radius: 5px;
}

.post-author {
  float: left;
  background-color: var(--o-green);
  border-radius: 100px;
  padding: 10px;
  color: whitesmoke;
}

.comment-container {
  border-bottom: 1px solid var(--o-green);
  border-right: 1px solid var(--o-green);
  border-left: 1px solid var(--o-green);
  margin-top: 10px;
  border-radius: 10px;
}

.comment-container li {
  display: block;
  text-align: left;
  background-color: grey;
  padding: 10px 0 10px 20px;
}

.comment-container li.comment-head {
  text-align: left;
  font-size: 25px;
  padding: 10px 5px;
  border-bottom: 1px solid var(--o-green);
  background-color: var(--o-green);
  border-radius: 10px 10px 0 0;
  color: whitesmoke;
}


div.comment li{
  background-color: whitesmoke;
  margin: 7px;
  border-radius: 10px;
}

.comment-list {
  background-color: var(--d-green);
  border-radius: 10px;
}

.comment-submit {
  padding: 7px;
  background-color: var(--l-green);
  color: whitesmoke;
  border-radius: 7px;
  width: 100%;
  height: 90%;
  margin-left: 10px;
}

.comment-submit:hover {
  cursor: pointer;
  background: var(--m-green);
  transition: 0.3s;
}

.new-comment {
  padding-top: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.input-container {
  width: 85%;
}

.comment-input {
  height: 90%;
  width: 80%;
  flex-grow: 8;
  padding: 10px;
  transition: width 0.4s ease-in-out;
  background-color: lightgrey;
  resize: none;
  border-radius: 5px;
  font-size: large;
}

.comment-input:focus {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 15px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
